name: server CI and CD

on:
  workflow_dispatch:
  workflow_call:
  push:
    paths:
      - "**.rs"
      - ".github/workflows/**"
      - "Cargo.*"
    tags: ["server-v*.*.*"]

env:
  CARGO_TERM_COLOR: always

jobs:
  check-test-build:
    permissions:
      contents: read
    strategy:
      matrix: 
        include:
          - { os: "macos-latest", target: "aarch64-apple-darwin" }
          - { os: "ubuntu-22.04", target: "x86_64-unknown-linux-musl" } # needed for glibc compatibility
          - { os: "windows-latest", target: "x86_64-pc-windows-msvc", ext: ".exe" }
          - { os: "ubuntu-22.04-arm", target: "aarch64-unknown-linux-musl" } # needed for glibc compatibility

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5
      - uses: swatinem/rust-cache@v2
      - uses: davidlattimore/wild-action@latest # faster linking where available (linux atm.)

      - name: install rust target
        run: rustup target add ${{ matrix.target }}

      - name: Check for errors
        run: cargo check --target ${{ matrix.target }} --all-targets --verbose

      - name: Run tests
        run: cargo test --target ${{ matrix.target }} --verbose

      - name: Check code formatting
        run: cargo fmt --all --check --verbose

      - name: Check code with clippy
        run: cargo clippy --target ${{ matrix.target }} --all-targets --verbose

      - name: Set build mode
        shell: bash
        run: if [ "${{github.ref_type}}" == "tag" ]; then echo "BMODE=release">>"$GITHUB_ENV"; fi

      - name: Build in ${{env.BMODE || 'debug'}} mode
        run: cargo build --target ${{ matrix.target }} --verbose --${{env.BMODE}}

      - name: Prepare artifact
        shell: bash
        run: |
          mkdir -p dist
          cp "target/${{ matrix.target }}/${{env.BMODE || 'debug'}}/svr-bj${{ matrix.ext }}" dist/svr-bj-${{ matrix.target }}${{ matrix.ext }}
          tree dist || ls -la dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: svr-bj-${{ matrix.target }}
          path: dist/svr-bj*

  auto-release:
    permissions:
      contents: write
    name: Release on tag push
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    needs: check-test-build
    steps:
      - uses: actions/checkout@v5

      - uses: actions/download-artifact@v5
        with:
          pattern: "**/svr-bj-*"
          path: target/release-artifacts
          merge-multiple: true

      - name: What's up?
        run: tree target/release-artifacts # beautiful!

      - name: Create a GitHub release
        uses: softprops/action-gh-release@v2
        with:
          # draft: true
          generate_release_notes: true
          files: target/release-artifacts/*
          prerelease: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') || contains(github.ref, 'rc') }}
